/* Sidebar (Navbar Vertical) */
.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 56px; /* Para não cobrir a navbar superior */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ddd;
}

.content {
    margin-left: 260px; /* Mantém a sidebar visível */
    padding: 20px;
    max-width: calc(100% - 260px); /* Garante que o conteúdo não ultrapasse */
}

.card {
    max-width: 800px; /* Define um limite para o card */
}

.button-secondary {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
}


